@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  font-family: "RocknRoll One", sans-serif;
  color: rgb(65, 65, 65);
}

body {
  background-color: #f5eee8;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#gamePage {
  justify-content: space-evenly;
}

#gameBoard {
  display: grid;
}

#gamePage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 10px;
}

#turnMessage {
  padding: 10px 20px;
  border-radius: 50px;
  width: 150px;
  font-size: 20px;
  color: white;
}

i {
  font-size: 30px;
  color: #67568c;
}

#indexPage h1 {
  margin: 20px 0 0 0;
}

.border {
  background-color: gainsboro;
}
.dot {
  position: relative;
  width: 20px;
  height: 20px;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  background-color: #67568c;
}
.clicked {
  background-color: black;
}

#scores {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.playerDisplay {
  margin: 0 30px;
}
.playerDisplay * {
  display: inline-block;
}

#boardSizesDiv,
#numberOfPlayersDiv,
.playerDisplay,
.playerScoreDisplay {
  display: flex;
  justify-content: space-evenly;
  border-radius: 28px;
  background-color: white;
  box-shadow: 0px 0px 4px #958f89;
  width: 285px;
  margin: 3px;
}

#scores {
  display: flex;
  justify-content: space-evenly;
}

.playerScoreDisplay {
  border-radius: 28px;
  background-color: white;
  box-shadow: 0px 0px 4px #958f89;
  width: 285px;
  margin: 3px;
}
.playerText {
  flex: 1;
}

.score {
  flex: 1;
}

.boardSizes,
.numberOfPlayers,
.playerText {
  padding: 10px 20px;
  width: 100px;
  margin: 6px;
}

.playerText {
  font-weight: 500;
}

.playerText,
.selected {
  border-radius: 25px;
  background-color: #67568c;
  color: white;
}

#redirect,
#playAgain {
  border-radius: 25px;
  background-color: #67568c;
  width: 285px;
  margin: 12px;
  padding: 15px;
  border: none;
  color: white;
  box-shadow: 0px 0px 5px #958f89;
}

#playAgain {
  width: 85%;
}

#player3,
#player4,
#player3Index,
#player4Index {
  display: none;
}

#completion {
  background: linear-gradient(
    45deg,
    rgba(65, 50, 97, 0.4),
    rgba(172, 156, 212, 0.4)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
}

#completionPopUp {
  background-color: #f5eee8;
  box-shadow: 0px 0px 5px #958f89;
  border-radius: 35px;
  width: 28vw;
  height: 42vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#completionStatus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#completionTexts {
  width: 30%;
  padding-right: 10%;
}

#completionStatus img {
  width: 40%;
}

#xContainer {
  background-color: #f5eee8;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #958f89;
  align-self: flex-end;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 38px;
  height: 38px;
}

#x {
  position: relative;
  left: -1px;
  top: -1px;
  font-size: 40px;
}

.playerInput {
  border: none;
  background-color: transparent;
}

.playerInput:focus {
  outline: none;
}
